
.container {
    display: flex;
    justify-content: space-between;
    margin: 185px 46px 184px 46px;
    height: 760px;
    position: relative;
    box-sizing: border-box;

    .user-list {
        display: flex;
        flex-direction: column;
        width: 1218px;
        align-items: flex-end;


        .create-user-button {
            background-color: #007bff;
        }

        table {
            width: 100%;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            border-collapse: collapse;
            border-spacing: 0;
            border-radius: 6px;
            overflow: hidden;   
        }

        th, td {
            text-align: start;
            border-bottom: 2px solid #FFFF;
            height: 15px;
            padding: 20px 26px;
        }

        thead {
            background-color: #FFFFFF;
            color: #A4A4B5;
        }

        td {
            background-color: #F4F5F8;
        }

        tfoot {
            background-color: #FFFFFF;
            height: 78px;
        }

        tr.active td {
            background-color: #EFF0F4;
        }
    }

    .user-form {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF;
        padding: 31px 26px 37px 26px;
        margin-left: 26px;
        height: 100%;
        width: 584px;
        border-radius: 6px;    

        .form-title {
            display: flex;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            font-family: Helvetica;
            justify-content: space-between;
        }

        .close-button {
            background-color: transparent;
            box-shadow: none;
            width: 24px;
            height: 24px;
        }

        .form-group {
            width: 100%;
            margin-top: 16px;
            input[type="text"],
            input[type="email"],
            input[type="password"] {
                border-radius: 6px;
                padding: 15px;
                background-color: #F3F6F9;
                width: 100%;
                box-sizing: border-box; 
                border: none;

                &:focus {
                    outline: none;
                    border: 1px solid #2E8FF0;
                }
                
                &.error {
                    border: 1px solid #EF7DA0;
                }
            }


            select {
                border-radius: 6px;              
                padding: 16px;                   
                background-color: #F3F6F9;       
                width: 100%;                     
                box-sizing: border-box;         
                border: none;                    
                appearance: none;                
                -moz-appearance: none;           
                -webkit-appearance: none;        
                font-size: 16px;                  
                cursor: pointer; 
                
                
                &:focus {
                    outline: none;
                    border: 1px solid #2E8FF0;
                }
            }

            button {
                padding: 16px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 0px 5px 8px #2E8FF029;
            }

            .error-message {
                color: #EF7DA0;
                font: normal normal normal 13px/16px Helvetica;
            }

        }
        .save-button {
            background-color: #007bff;
            padding-inline: 44px;
        }
        .create-action-buttons {
            display: flex;
            justify-content: center;
            margin-top: 16px;
        }

        .edit-action-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            .delete-button {
                background-color: #F44682;
                padding-inline: 44px;
            }
        }
    }

}
